{% extends "layoutTeacher.html" %}

{% block content %}

{% with messages=get_flashed_messages() %}
  {% if messages %}
    <script type="text/javascript">
      var m={{ messages|safe }};
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
            	<th>Sno</th>
                <th>CourseName</th>
                <th>Q1 score</th>
                <th>Q2 score</th>
                <th>Q3 score</th>
                <th>Student Feedback</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[4]}}</td>
                <td>{{d[5]}}</td>
                <td>{{d[6]}}</td>
                <td>{{d[7]}}</td>
                <td>{{d[8]}}</td>

            </tr>
            {% endfor %}
        </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'pdf', 'print'
        ]
    } );
} );
</script>

{% endblock %}
 